npm-debug.log
.DS_Store
/node_modules
static/.DS_Store
.idea/*
.idea/workspace.xml
index.html
phpunit.xml
npm-debug
__MACOSX
dist/js/vendor.js
dist/js/app.js
dist/js/*
dist/css/*
dist/src/BaseJs*
.vscode
.vscode/*





